a{
    background-color: rgb(187, 187, 238); color: rgb(0, 102, 255);font: optional; 
}
h1{
    font-size: xx-large; text-align: center; color: #FA165E;
}
p{
    font-size: x-large; font-family: sans-serif; color: #d3d2d2;
}
body{
    width: 1000px;
    margin: 0 auto;
    background-color:#230C11 ;
    padding: 0 20px 20 20px 20px;
    border: 5px solid #230C11;
}
html{
    background-image: url(https://static.wikia.nocookie.net/ordemparanormal/images/2/2c/Elementos_do_Outro_Lado.jpg/revision/latest?cb=20240829190240&path-prefix=pt-br);
}

.agrupador{
    width: 100%;
    /* background-color: #FA165E; */
    display: flex;
    align-items: center;
}

.imagem-destaque{
    /* background-color: aqua; */
    width: 30%;

}

.conteudo{
    /* background-color: yellow; */
    width: 70%;
    
}

h2{
    text-align: center;
    color: white;
}