a{
    background-color: rgb(187, 187, 238); color: rgb(0, 102, 255);font: optional; font-size: larger;
}
h1{
    font-size: xx-large; text-align: center;
}
p{
    font-size: larger; font-family: sans-serif;
}